*{
    scrollbar-width: none;
}
.minsta-header{
    background-color: #222f3e;
    height: 5rem;
    width: 100%;

}

.hamburger {
    display: none;
}

.side-mobile-nav {
    width: 60%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #c8d6e5;
    padding-top: 5.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.side-menu-list {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.side-menu {
    padding: 0.8rem 1rem;
    width: 100%;
    background-color: #576574;
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.side-menu h4{
    color: #fff;
}

.side-menu .icon {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #fff;
    color: #ff3572;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-mobile-nav .close {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.2rem;
}

.side-mobile-nav .close .close-icon {
    width: 2rem;
    height: 2rem;
    background-color: #222f3e;
    border-radius: 0.3rem;
    padding: 0.5rem;
    color: #ff3572;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-mobile-nav .close .close-icon .icon {
    width: 1.8rem;
    height: 1.8rem;
}

.side-bar-open .side-bar {
    display: block;
    transition: 0.4s;
}

.side-bar-close .side-bar {
    display: none;
    transition: 0.4s;
}


.dashboard-menu {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.dashboard-menu button{
    color: #fff;
    font-size: 1.3rem;
}

.login-btn button {
    background-color: #ff3572;
    padding: 0.5rem 1.4rem;
    color: #fff;
    border-radius: 0.2rem;
    transition: 0.3s ease;
}

.login-btn button:hover {
    background-color: #ff1f62;
    box-shadow: rgba(255, 255, 255, 0.181) 0px 3px 8px;
}

.menu button {
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    display: block;
}

.menu{
    position: relative;
    /* padding: 0rem 0.5rem; */
}

.menu:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0.15rem;
    border-radius: 0.5rem;
    background-color: #ff1f62;
    bottom: -0.5rem;
    left: 0;
    transition: 0.4s ease;

}

.menu:hover:before {
    width: 100%;
}

.admin-main {
    padding-top: 5.5rem;
    background-color: #F3F4F8;
    height: 100%;
}
.card {
    width: 100%;
    height: calc(100vh - 8rem);
    background-color: #8395a7;
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card .card-header{
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}

.card .card-header .card-title h2{
    font-size: larger;
    font-weight: 700;
}

.card-content .admin-menu-list {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.card-content .admin-menu-list .admin-menu{
    padding: 0.8rem 1rem;
    width: 100%;
    background-color: #576574;
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.card-content .admin-menu-list .admin-menu h4 {
    color: #fff;
    font-size: 1rem;
}

.card-content .admin-menu-list .admin-menu:hover {
    cursor: pointer;
}

.card-content .admin-menu-list .admin-menu .icon {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #fff;
    color: #ff3572;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content .admin-menu-list .admin-menu:hover .card-content .admin-menu-list .admin-menu .icon {
    color: #ff1f62;
}

.select-option:hover {
    cursor: pointer;
}

.gallery-model-page {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #c8d6e5db;
    top: -100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-model {
    width: 20rem;
    height: 20rem;
    margin-top: 9.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gallery-model .file-upload{
    height: 13rem;
    width: 15rem;
    border: 0.2rem dashed #222f3e;
    border-radius: 0.5rem;
    background-color: #c8d6e5;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    cursor: pointer;
}

.gallery-model .file-upload .icon {
    width: 100%;
    height: 100%;
    color: #222f3e;
}

.gallery-model .file-upload .allow {
    font-size: 0.7rem;
    color: #FC427B;
}

.gallery-model .gallery-upload-btns{
    width: 13rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-model .gallery-upload-btns .btn-cancel {
    border: 0.1rem solid #222f3e;
    font-size: 0.9rem;
}

.gallery-model .gallery-upload-btns .btn-upload {
    background-color: #FC427B;
    color: #fff;
    font-size: 0.9rem;
}

.leaderboard {
    margin: 1rem;
    border-radius: 0.8rem;
    background-color: #8395a7;
}

.btns{
    padding: 1rem;
}

.btn {
    border: none;
    outline: none;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    border-radius: 0.5rem;
    color: #222f3e;
    font-weight: bold;
}

.reset-btn {
    background-color: #feca57;
}

.delete-btn {
    background-color: #ee5253;
}

.footer-actions button {
    z-index: 100;
}

/* .option {
    background-color: red;
    padding-top: 0.3rem;
} */


@media only screen and (max-width: 667px) {
    .hamburger{
        display: block;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .menu{
        display: none;
    }

}
